@font-face {
    font-family: 'myfont';
    src: url('../fonts/fangzhenglanting-webfont.eot?srf3rx')format("embedded-opentype");
    src: url('../fonts/fangzhenglanting-webfont.woff') format("woff");
    src: url('../fonts/fangzhenglanting-webfont.ttf') format("truetype");
    src: url('../fonts/fangzhenglanting-webfont.svg') format("svg");
}
#navbar {
    background: rgba(255,255,255,0.9);
}
.navbar-default .navbar-nav>li>a {
    color: #333;
}


.we{
    padding: 100px 0;
}
figure>p{
    margin-top: 0;!important;
}
.system{
    width: 100%;
    height: 394px;
    overflow: hidden;
}
.introduction-title{
    /*height: 180px;*/
    width: 75%;
}
.Introduction-text{
    width:33.3333%;
}
.img{

    z-index: -1;
    /*width: inherit;*/
    top:0;

    position: absolute;
    width: auto;
    height: 100%;
    left:50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.system-img{
    width: 80%;
    margin: 210px auto 190px auto;
}
.system-img-title{
    padding: 45px 0;
    background: #00b7ef;
    line-height: 2;
}
.system-img-title:before,.system-img-title:after{
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    background: #fff;
}
.system-img-title:after{
    width: 40%;
}
.yuan{
    width: 60%;
    height: 500px;
    margin:100px auto 0 auto;
    position: relative;
    overflow: hidden;
}
.culture{
    padding: 126px 0 150px 0;
}
.academy{
    width: 62%;
    margin: 0 auto 256px auto;
}
.blue-bg,.img-bg{
    width: 33.3%;
    height: 320px;
    background: #00b8ef;
    font-weight: 200;
}
.img-bg{
    background: url("../images/aboutUs-foot01.jpg")no-repeat;
    background-size: 100% 100%;
}
@media screen and (max-width: 768px) and (min-width: 320px){
    .system {
        /*height: 194px;*/
    }
    .introduction-title {
        /*height: 180px;*/
        width: 90%;
    }
    .system-img {
        margin: 30px auto 20px auto;
    }
    figure{
        margin: 10px 0;
    }
    figure p {

        margin-top: 0;
    }
    .Introduction-title {
        margin: 26px auto;
    }
    .yuan {
        width: 90%;
        height: 300px;
        margin: 50px auto 0 auto;
    }
    .culture {
        padding: 30px 0 50px 0;
    }
    .culture p{
        line-height: 1.8;
    }
    .academy {
        width: 90%;
        margin: 0 auto 20px auto;
    }
    .blue-bg, .img-bg {
        width: 33.3%;
        height: 120px;
        background-size: 100% 100%;
    }
    .Introduction-text{
        width:75%;
    }

}
@media screen and (max-width: 1366px) and (min-width: 768px){
    .system-img {
        width: 88%;
        margin: 120px auto 100px auto;
    }
    .system-img figure{
        width: 23%;
    }
    .system-img figure img{
        width: 100%;
    }
    .academy {
        width: 76%;
        margin: 0 auto 166px auto;
    }
    .culture {
        padding: 126px 0 100px 0;
    }
    .Introduction-text{
        width:66.6666%;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1366px){
    .system-img {
        width: 80%;
        margin: 140px auto 120px auto;
    }
    .academy {
        width: 82%;
        margin: 0 auto 166px auto;
    }
    .culture {
        padding: 126px 0 100px 0;
    }
    .system-img figure{
        width: 23%;
    }
    .system-img figure img{
        width: 100%;
    }
    .Introduction-text{
        width:33.3333%;
    }
}